.site-article-container {
    padding: 2em 6em 0 6em;
    background-color: #eee;
    min-height: 100%;
}

.section-heading {
    font-family: "Open Sans Condensed-Bold";
    margin-bottom: -0.3em;
    margin-top: 0;
}

//element of story section styles
.elementstory-container {
    .section-heading {
        font-size: 2em;
        font-family: 'Open Sans Condensed-Bold';
    }

    .element-of-story-list {
        li {
            font-family: 'Open Sans Condensed';
            font-size: 1.3em;
            margin-bottom: 1em;

            a {
                text-decoration: none;
            }

            a:hover {
                font-weight: bold;
            }
        }
    }
}

//left section styles
.article-left-section {
    width: 15%;
}

//routes container
.article-right-section {
    margin-left: 3em;

    .section-heading {
        margin-top: 0.3em;
    }
}

.elementstory-desc-container {
    .section-heading {
        font-size: 2em;
        font-family: 'Open Sans Condensed-Bold';
        margin-bottom: -0.2em;
    }
}

//search-word section styles
.searchword-container {
    .section-heading {
        font-size: 2em;
        font-family: 'Open Sans Condensed-Bold';
    }
}

//login modal styles
.modal-container {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;

    .modal-content {
        margin: 5% auto;
        align-items: center;
        padding: 20px;
        width: 20%;
        border-radius: 0.2em;
        background-color: #ccc;

        .username-section {
            height: 3em;
            align-items: center;
        }

        .password-section {
            align-items: center;
            margin-left: 1em;
            margin-right: 0.5em;
            height: 3em;
        }

        .username-subheading,
        .password-subheading {
            margin-right: 0.3em;
            font-family: "Open Sans Condensed-Bold";
        }

        .login-cancel-holder {
            width: 100%;
            justify-content: flex-end;

            .modal-btn {
                background-color: transparent;
                font-family: "Open Sans Condensed-Bold";
                border: none;
                cursor: pointer;
                font-size: 1.1em;

            }

            .signup-form-btn {
                margin-right: auto;
                border: 1px solid black;
                line-height: 1.1em;
                border-radius: 0.2em;
                background-color: #bbb;
            }
        }
    }
}

//signup form modal
.modal-container {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;

    .signup-modal-content {
        margin: 5% auto;
        align-items: center;
        padding: 20px;
        width: 25%;
        border-radius: 0.2em;
        background-color: #ccc;

        .username-section {
            width: 100%;
            height: 3em;
            align-items: center;
            justify-content: space-between;
        }

        .password-section {
            width: 100%;
            align-items: center;
            justify-content: space-between;
            margin-left: 1em;
            margin-right: 0.5em;
            height: 3em;
        }

        .confirm-password-section {
            justify-content: space-between;
            width: 100%;
            align-items: center;
            margin-left: 1em;
            margin-right: 0.5em;
            height: 3em;
        }

        .email-section {
            justify-content: space-between;
            width: 100%;
            align-items: center;
            margin-left: 1em;
            margin-right: 0.5em;
            height: 3em;
        }

        .username-subheading,
        .password-subheading,
        .email-subheading,
        .confirm-password-subheading {
            margin-right: 0.3em;
            font-family: "Open Sans Condensed-Bold";
        }

        .login-cancel-holder {
            width: 100%;
            justify-content: flex-end;

            .modal-btn {
                background-color: transparent;
                font-family: "Open Sans Condensed-Bold";
                border: none;
                cursor: pointer;
                font-size: 1.1em;

            }

            .signup-form-btn {
                margin-right: auto;
                line-height: 1.1em;
                border-radius: 0.2em;
                background-color: #bbb;
            }
        }

        .error-display {
            font-family: "Open Sans Condensed";
            color: red;
        }
    }
}

//loader container styles
.loader-container {
    align-items: center;

    .pleasewait-txt {
        font-family: "Open Sans Condensed-Bold";
        margin-left: 0.4em;
    }
}

//loader container styles
.message-container {
    text-align: center;
    color: red;
}

//new word form
.form-article-container {

    .new-word-form {
        padding: 0 auto;
        justify-content: space-between;
        display: inline-block;

        p,
        span {
            font-size: 1.1em;
            font-family: "Open Sans Condensed-Bold";
        }

        .etymology-column,
        .word-column {
            margin-right: 1em;
        }

        .etymology-column {
            .inputfield {
                margin-bottom: 0.5em;
            }

        }

        .form-top-section {
            justify-content: space-between;
        }

        .form-bottom-section {
            p {
                margin: 0;
            }

            .meaning-textarea {
                width: 45em;
                height: 10em;
            }
        }
    }

    .word-preview-section {
        font-family: "Open Sans Condensed";
        margin-left: 1em;
        width: 100%;

        .word-partofspeech {
            width: 100%;
            margin-bottom: -0.5em;
            border-bottom: 1px solid black;

            h1 {
                margin: 0;
            }

            p {
                margin-bottom: 0;
            }

            .connotation-txt {
                margin-left: auto;
            }

            .noun-type-txt {
                font-family: "Open Sans Condensed-Bold";

                &:before {
                    content: "(";
                }

                &:after {
                    content: ")";
                }
            }
        }

        .etymology-section {
            p {
                margin: 0;
            }

            .originlanguage-txt {
                margin-top: 1em;
            }
        }

        .meaning-section {
            .meaning-heading-txt {
                margin-bottom: 0;
            }

            .meaning-desc-txt {
                margin-top: 0;
            }
        }
    }
}

.savedword_btn-holder {
    align-items: center;

    .wordsaved_msg {
        margin-left: 0.5em;
        font-family: 'Open Sans Condensed-Bold'
    }
}

//view all word styles
.wordcount_header {
    font-family: 'Open Sans Condensed-Bold';
    margin: 0;
}

.no_word_msg {
    font-family: 'Open Sans Condensed-Bold';
    font-size: 2em;
}

.view_word_gridcontainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;

    .view_word_griditem {
        padding-right: 0.5em;

        .view_word_grid-header {
            justify-content: space-between;
            align-items: center;

            h2 {
                font-family: 'Open Sans Condensed-Bold';
                margin-bottom: 0;
            }

            p {
                font-size: 1.3em;
                align-self: flex-end;
                margin-bottom: 0;
                font-family: 'Open Sans Condensed-Bold';
            }
        }

        hr {
            margin: 0;
        }

        ul {
            background-color: #ccc;
            padding-inline-start: 1.3em;
            margin: 0;
            li {
                font-family: 'Open Sans Condensed';
            }
        }
    }
}