.site-header {
    padding: 0 6em;
    justify-content: space-between;
    align-items: center;
    background-color: #aaa;
    font-family: 'Open Sans Condensed-Bold';

    .login-btn{
        height: 2em;
        width: 4em;
        font-family: "Open Sans Condensed";
        border-radius: 0.3em;
        font-size: 1.3em;
    }

}



    