.site-header {
    padding: 0 6em;
    justify-content: space-between;
    align-items: center;
    background-color: #aaa;
    font-family: 'Open Sans Condensed-Bold';

    .site-header-btn-holder {
        align-items: center;

        .view-all-words-link,
        .login-btn {
            margin-left: 1em;
        }
    }
}

.userprofile-console {
    padding: 0.3em 0 0.3em 0;

    .username-section,
    .password-section {
        justify-content: flex-end   ;
        align-items: center;

        .username-subheading,
        .password-subheading {
            position: relative;
            top: 0.3em;
        }
    }

    .requeststatus-display {
        border: 1px solid red;
    }

    .signin-holder {
        justify-content: flex-end;
        padding: 0.3em 0;
        margin: 0 !important;
        height: 3em;
        align-items: center;
        .loader-container{
            margin-left: 0.5em;
        }
        .message-container{
            align-self: center;
            margin-bottom: 0;
        }
        .signin-btn {
            margin-left: 0.5em;
            height: 2em;
        }
    }
}

.member-header__tab-container {
    margin-top: auto;
    .member-tabcontainer__enterwordtab, .member-tabcontainer__viewdatabasetab{
        background-color: #fff;
        padding: 0.2em 1.5em;
        clip-path: polygon(5% 0%, 0% 100%, 100% 100%, 95% 0%);   
        cursor: pointer;     
        width: 14em;
        text-align: center;
    }
    .active{
        padding: 0.2em 0.2em;
        font-size: 1.1em;
        background-color: #eee;
        border-bottom: 0;
        text-decoration: underline;
    }
}